<% if @tweets.any? %>
	<ul class="col-md-6 col-md-offset-3">
		<% @tweets.each do |tweet| %>
		<li class="tweet">
			 
			<h4>@<%= tweet.user.name %></h4>
			<%
					linked = tweet.text.gsub( %r{https://[^\s<]+} ) do |url|
					    "<a href='#{url}' class='text_link' target = 'blank'>#{url}</a>"
					end
				
				%>
			<p><%= linked.html_safe %></p>
			<p><%= image_tag(tweet.media[0]["media_url"], :size => tweet.media[0]["sizes"]["thumb"], class: "img-responsive") if(tweet.media.present?) %></p>
			<p><% dst= Geocoder::Calculations.distance_between( [tweet.geo.coordinates[0],tweet.geo.coordinates[1]], [ params[:lat],params[:lng]],  options = {:units => :km} ) %></p>
			<p><% br= Geocoder::Calculations.bearing_between( [ params[:lat],params[:lng]], [tweet.geo.coordinates[0],tweet.geo.coordinates[1]]) %></p>
			<p style="color:#696969;">direzione: <%= dst = (dst*1000).round(0) %>  metri <%= br= Geocoder::Calculations.compass_point(br) %></p>
			
			
			

		
			
		</li>
		<% end %>
    </ul>	
<% else %>
	Mmmh.. pare che non ci siano tweet da @réz-story nelle vicinanze.
<% end %>
