<div class"=row">
	<div style="margin-left:33%">
		<%= image_tag "logo.png" %>
	</div>
</div>

<!--
<div class="row">
	<div class="col-md-9 col-md-offset-2">
		<form class="form-inline">
			<div class="form-group">
				<%= form_for :tweet, url: tweets_path, method: :post, html: { id: 'tweet-form' } do |f| %>
			  	<%= f.hidden_field :lat %>
			  	<%= f.hidden_field :lng %>
			  	Youtube URL: <%= f.text_field :youtube_url %>
			    Message: <%= f.text_field :message %>
			    <%= f.submit "Tweet to #nowplaying", class: "btn" %>
			  <% end %>
			</div>
		</form>
	</div>
</div>

-->
<div class="row">
	<div class="col-md-9 col-md-offset-2">
		<div class="" id='tweet-area'>
			Loading...
		</div>
	</div>
<div>

<script type='text/javascript'>
	NowPlaying.Home.setup();
</script>








